html {
  font-size: 10px;
  font-family: "Exile", system-ui;
  background-color: #96ADC8;
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 10vh;
  border: 5px solid black;
  border-radius: 35%;
  background-color: #D7FFAB;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

.main {

  padding: 20px;
}
