html {
  font-size: 10px;
  font-family: "Exile", system-ui;
  background-color: #96ADC8;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 10vh;
  border: 5px solid black;
  border-radius: 35%;
  background-color: #D7FFAB;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.main {

  padding: 20px;
}
